HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Docker volumes locais
data/

# Grafana
grafana-data/

# Prometheus
prometheus-data/

# Builds
build/
out/